<div align="center">
    <h2> Delete Employee Record </h2>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/images/empgiff.gif" width="400px" height="400px" alt="" class="m-3 bgimg">
      
        
  <form #deleteform="ngForm" (ngSubmit)="deletedata(deleteform)">
    <div class="form-group">
    <label>  EmployeeID : </label>
    <input type="number" #id (ngModel)="id" name="id" id="id" class="form-class">
    </div> <br>
   
    <div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger w-100">
    <div>
      <a routerLink="/services">back</a>
      </div>
    </div>
  </form>
</div>
