<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Swing by for a cup of coffee, or leave us a message:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="assets/images/contact.gif" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label class="form-label"> Contact : </label>
          <input type="text" class="form-control" autocomplete="off" required>
          <!-- <label for="contact">ContactNo  : </label> -->
          <!-- <input type="number" id="contact" name="contact" placeholder="Phone number" > -->
          <!-- <input type="number" id="contact" name="contact" placeholder="Phone number"> -->
          <!-- <select  type="number" id="contact" name="ContactNo">
          </select> -->
          <br>
          <input type="submit" value="Submit">
        </form>
        <br>
        <div>
          <button>
         <a href="home">back</a>
      </button>
      </div>
      </div>
    </div>
  </div>
  
  