

<br>
<h4> Employee Services </h4>  

<nav class="navbar justify-content-center">
   
    <ul class="nav">
         
        <li class="nav-item btn btn-success"><a routerLink="/insert" class="nav-link active"> Add</a></li>
        <li class="nav-item btn btn-secondary"><a routerLink="/view" class="nav-link active"> EmployeeList</a></li>
        <li class="nav-item btn btn-primary"><a routerLink="/update" class="nav-link active"> Update</a></li>
        <li class="nav-item btn btn-danger"><a routerLink="/delete" class="nav-link active"> Delete Employee</a></li>
    </ul>
    <div>
        <img src="assets/images/emp6.jpg" alt="">
      </div>
</nav>
<!-- <div class="space">
    <img src="assets/images/emp6.jpg" alt="index" class="space1">
   </div><br> -->
  
<router-outlet></router-outlet>
